<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<h1>Create book</h1>
<p>
    <a href="/books">Book list</a>
</p>
<form th:action="@{/create-book}" th:object="${book}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" value=""/></td>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Book"></td>
        </tr>
    </table>
</form>


</body>
</html>
